    <h2 class="products-title">Products</h2>
    <div class="products-container" *ngFor="let prod of products">
       <h3>
        <a class="products-item" 
        [title]="prod.name + ' details'"
        [routerLink]="['/products',prod.id]"> 
        {{prod.name}}
       </a>
       </h3>
       
       <p class="products-desc" *ngIf="prod.description">
        Description: {{ prod.description }} ${{prod.price}}...
      </p>
      <button class="products-btn" type="button" (click)="share()">
        Share
      </button>
      <app-product-alerts [product]="prod" (myEvent)="onNotify()" ></app-product-alerts>
    </div>

      